[Unit]
Description=Disinfection Robot Dashboard
After=network.target

[Service]
User=gonxt
WorkingDirectory=/home/gonxt/evesix_code
ExecStart=/home/gonxt/evesix_code/nv/Scripts/python /home/gonxt/evesix_code/dashboard.py
Restart=on-failure
RestartSec=5

# Redirect all output to our log file
StandardOutput=append:/var/log/robot/robot.log
StandardError=append:/var/log/robot/robot.log

[Install]
WantedBy=multi-user.target
